# Emplacement et nom : /usr/share/ResPinGuy-File-Config/dracut.config

#kernel {
#    # Set the root device
#    root="/dev/ram0"
#
#    # Specify the SquashFS image location
#    cmdline="rootfstype=squashfs root=/dev/ram0 rootimage=/mnt/myimage.squashfs"
#}

####################################################################

root=/LiveOS/squashfs.img
rootfstype=squashfs