ui menu.c32
prompt 0
menu title Boot Menu
timeout 30
menu background /isolinux/bootimg.png

label ResPinGuy
	menu label ResPinGuy - ISO Custom
	menu default
	linux /vmlinuz
	append initrd=/initrd boot=live root=live:/dev/sr0 rd.live.dir=/LiveOS vga=773

label ResPinGuy (no vga)
	menu label ResPinGuy - ISO Custom
	menu default
	linux /vmlinuz
	append initrd=/initrd boot=live root=live:/dev/sr0 rd.live.dir=/LiveOS