ui menu.c32
prompt 0
menu title Boot Menu
timeout 30
menu background /isolinux/bootimg.png

# --- Boot normal ---
label ResPinGuy
    menu label ResPinGuy - Demarrer en Live (recommande)
    menu default
    linux /vmlinuz
    append initrd=/initrd root=live:/dev/sr0 rd.live.image rd.live.dir=/LiveOS rd.live.squashimg=squashfs.img quiet systemd.mask=rpcbind.service systemd.mask=rpcbind.socket systemd.mask=nftables.service systemd.mask=keyboard-setup.service systemd.mask=systemd-networkd-wait-online.service systemd.mask=NetworkManager-wait-online.service

# --- Boot sans mode graphique ---
label ResPinGuy-novga
    menu label ResPinGuy - Demarrer en Live (sans vga)
    linux /vmlinuz
    append initrd=/initrd root=live:/dev/sr0 rd.live.image rd.live.dir=/LiveOS rd.live.squashimg=squashfs.img systemd.mask=rpcbind.service systemd.mask=rpcbind.socket systemd.mask=nftables.service systemd.mask=keyboard-setup.service systemd.mask=systemd-networkd-wait-online.service systemd.mask=NetworkManager-wait-online.service

# --- Boot debug ---
label ResPinGuy-debug
    menu label ResPinGuy - Demarrer en Live (debug)
    linux /vmlinuz
    append initrd=/initrd root=live:/dev/sr0 rd.live.image rd.live.dir=/LiveOS rd.live.squashimg=squashfs.img rd.debug rd.info systemd.mask=rpcbind.service systemd.mask=rpcbind.socket systemd.mask=nftables.service systemd.mask=keyboard-setup.service systemd.mask=systemd-networkd-wait-online.service systemd.mask=NetworkManager-wait-online.service